body{
  margin:0;
}
.container,
.container3{
  display:flex;
  flex-direction: row;
}
.container2{
  display: flex;
  flex-direction: column;
}
.box{
  padding:20px;
  height:32px;
  width:200px;
  color:white;
  text-align: center;
  font: 20px arial;
}
.box1{
  background-color:aquamarine;
}
.box2{
  background-color:lightgreen;
}
.box3{
  background-color:	royalblue;
}
.box4{
  background-color:purple;
}
.box5{
  background-color:darkslategray;
}
.box6{
  background-color:gold;
}
.box7{
  background-color:orange;
}
.box8{
  background-color:red;
}
.box9{
  background-color:lightsteelblue;
}
.box10{
  background-color:lightslategray;
}
